.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: #eee;
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}


/* owner tab CSS */
#adv_owner_tab, #adv_permissions_tab{
    background-color: #f5f5f5;
    overflow-y: clip;
}

#advtabs, #advdialog{
    background-color: #f5f5f5;
    overflow-y: clip;
    height: 650px;
    
}

#ui-id-81{
    /*margin-top: 50px;*/
    /* height: 550px; */
    overflow-y: clip;
}

#adv_owner_explanation, #inheritance_explaination{
    font-size: 14px;
    color: #333;
}


#adv_owner_object_name, #adv_perm_object_name, #adv_effective_object_name{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

#adv_owner_current_owner_text, #adv_effective_user_text, #perm_entry_name_text{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
#perm_entry_name_text1{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
}

#adv_owner_current_owner, #selected_user, #adv_effective_current_user{
    display: inline-block;
    font-weight: normal;
    padding: 5px;
    background-color: #ffffff;
}

#adv_owner_change_owner_text {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#adv_owner_change_button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#adv_owner_user_list {
    margin-top: 10px;
    font-size: 16px;
    color: #444;
    height: fit-content;
}


#user_select_container_perm{
    width: 400px;
    display: inline-block;
    float:left;
    margin-right: 10px;
    overflow-x: hidden;
}

#perm_entry_table{
    width: 400px;
}

#add_user, #directions_button, #perm_remove_user{
    display: inline-block;
    margin-left: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#user_select_all_users , #adv_owner_user_list, #user_select_container_effective{
    margin-bottom: 20px;
}

#user_select_container_perm{
    height: 90px;
    overflow-y: scroll;
}

#user_select_all_users{
    overflow-x: hidden;
    overflow-y: auto;
}

#user_select_all_users:hover {
    filter: grayscale(100%);
}

#add_explain{
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

#adv_perm_replace_child_div{
    margin-bottom: 20px;
}

#permdialog_individual_permissions_header_allow, #permdialog_individual_permissions_header_deny{
    padding-right: 10px;
}
.guide{
    position: fixed;
    top: 50px;
    bottom: 10px;
    right: 0;
    width: 500px;
    z-index: 999;
    border: 1px solid black;
    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.guideInfo{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 450px;
    height: 100%;
}
.guideInfo p{
    font-weight: bold;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    color: black;
    background: #fafafa;
}
.guide li > ul {
    padding-left: 30px;
}
#clue{
    margin: 0;
}
.guide h2{
    text-align: center;
}
.guide a{
    text-decoration: none;
}

#filestructure{
    font-size: large;
}
#red{
    color: red;
}